@import url("home.css");
@import url("aboutUs.css");
@import url("contacts.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

main,
header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: -25px;
}

.hidden {
  display: none;
}

#contentContainer {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: flex-start;
}

.flex-gallery {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: auto;
}

section {
  background-color: #dbdbdb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  align-self: flex-start;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 50px;
  color: black;
  text-decoration: none;
}

.logo {
  font-size: 2rem;
}

#logo-text {
  font-size: 20px;
  font-weight: bold;
}

.nav_ {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #dbdbdb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  justify-content: space-between;
  flex-direction: row;
}

.toggleMenu {
  display: flex;
  font-size: 30px;
  cursor: pointer;
}

.toggleDiv {
  display: flex;
  align-self: flex-end;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 85px;
  right: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.menu.active {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
}

.menu a:hover {
  background-color: #f0f0f0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  margin-bottom: -15px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: rgb(0, 0, 0);
  color: #f9f9f9;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #e4e4e4;
  color: rgb(0, 0, 0);
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f39c12;
}

@media screen and (min-width: 480px) {
  .content {
    display: flex;
    justify-content: space-between;
  }
  #logo-text {
    font-size: 2rem;
  }
  #messageColumn {
    min-width: 800px;
    align-items: center;
  }
  .message {
    min-width: 400px;
    min-height: 350px;
  }
  #controls-container {
    width: 35%;
    margin-right: 25px;
  }
  #bord{
    width: 100%;
  }
}
